<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Find Film</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Other</a></li>
        </ul>

        <div class="text-end">
          <% if user_signed_in? %>
          <div class="nav-link px-2 text-white">
          <p><%= current_user.email %></p>
<%= button_to "Logout", destroy_user_session_path, method: :delete, form: {turbolink: false}, class:'btn btn-outline-light'  %>
          </div>
          <% else %>
          <a type="button" href="/users/sign_in" class="btn btn-outline-light me-2">Login</a>
          <a type="button" href="/users/sign_up" class="btn btn-warning">Sign-up</a>
          <% end %>
        </div>
      </div>
    </div>
</header>